html {
    font-size: 16px;
    font-family: 'Major Mono Display', monospace;
    color: #ffebd2;
}

body {
    width: 100%;
    margin: 0;
    background-color: #111724;
}

header {
    position: fixed;
    margin-top: 0px;
    width: 100%;
    background-color: #111724;
    z-index: 10;
}

.header-nav {
    justify-content: center;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.header-logo {
    width: 80px;
    display: flex;
    padding-top: 10px;
}

.header-logo:hover {
    animation: logoRotate 3s linear 0s infinite normal none;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav li {
    display: inline;
    margin: 0 10px;
    position: relative;
}

.header-nav a {
    text-decoration: none;
    color: #ffebd2;
}

.header-nav a:hover {
    text-decoration: none;
    color: #ffebd2;
    opacity: 80%;
    text-decoration: underline;
}

#contact-container {
    display: none;
}

.main-page {
    padding: 100px 40px;
    background-color: #111724;
}

.hero-banner {
    margin: 0px auto;
    max-width: 1000px;
    display: block;
    align-content: center;
    padding-top: 150px;
    padding-bottom: 200px;
    background-image: url('./resources/patrick-vicente-logo-trnsprent-blue.png');
    background-repeat: no-repeat;
    background-position: 100% 90%;
    background-size: 500px;
    animation: background-animation 1.5s linear 0s 1 normal none;
}

@keyframes background-animation {
    0% {
        opacity: 0;
      background-position: -100% -100%;
    }
    100% {
        opacity: 1;
      background-position: 100% 90%;
    }
  }

#hello-world {
    color: #ffa364;
    margin-bottom: 0;
}

.hero-banner h1 {
    font-size: 6rem;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #ffebd2;
    font-family: 'Major Mono Display', monospace;
}

.hero-banner h2 {
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 30px;
    opacity: 80%;
    color: #ffebd2;
    font-family: 'Major Mono Display', monospace;
}

.btn {
    background-color: #af4f41;
    color: snow;
    padding: 15px;
    font-size: 1rem;
    font-family: 'Major Mono Display', monospace;
    border: none;
    border: 2px solid #c16456;
    transition: all .35s;
}

.btn-updated a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #c16456;
    border: 2px solid #c16456;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.btn-updated a span {
    position: relative;
    z-index: 3;
}

.btn-updated a:hover {
    color: #fff;
}

.btn-updated a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #c16456;
    transition: all .35s;
}

.btn-updated a:hover:after{
    width: 100%;
    color: #fff;
}

.experience {
    margin: 0px auto;
    max-width: 1000px;
    height: auto;
    padding: 100px 0px;
}

.experience h2 {
    text-align: center;
    font-size: 2.5rem;
}


.experience-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.experience-card {
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    background-color: #af4f41;
}

.experience-card h3 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.5rem;
}

.experience-card p {
    Font-Family: 'Monda', Sans-Serif;
}

.experience-card span {
    Font-Family: 'Monda', Sans-Serif;
    font-weight: bold;
    font-style: italic;
}


.projects {
    margin: 150px auto;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 100px;
}

.projects-cards {
    width: 1000px;
    height: 500px;
    margin: 50px 100px;
    position: relative;
    box-shadow: 24px 34px 30px -4px 
                rgba(150, 150, 150, 0.24)
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px;
  }

.projects-cards h3 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.projects-cards p {
    Font-Family: 'Monda', Sans-Serif;
    margin-top: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

#first-project {
    background-image: url('./resources/aidan-hancock-dA0SA67EgOQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#second-project {
    background-image: url('./resources/alex-knight-2EJCSULRwC8-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#third-project {
    background-image: url('./resources/ilya-pavlov-OqtafYT5kTw-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#fourth-project {
    background-image: url('./resources/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-container {
    display: flex;
    justify-content: center;
    
}

.footer-logo {
    width: 125px;
}


.social-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-notes {
    Font-Family: 'Monda', Sans-Serif;
    text-align: center;
}

.footer-notes a {
    text-decoration: none;
    color: #c16456;
    transition: all .35s;
}

.footer-notes a:hover {
    color: #ffebd2;
}

.social img {
    width: 50px;
    padding: 15px;
    transition: all 250ms ease-out 25ms;
}

.social img:hover {
    width: 75px;
}

#linkedin {
    
}

#codepen {

}

#twitter {

}

#github {

}

@keyframes logoRotate{
    0% {
        transform:  rotate(360deg);
    }
    100% {
    }